<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechSaude"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".VerPerfilPaciente"
            android:exported="false" />
        <activity
            android:name=".PacientesMedico"
            android:exported="false" />
        <activity
            android:name=".ReceituarioRealizados"
            android:exported="false" />
        <activity
            android:name=".RealizarReceituario"
            android:exported="false" />
        <activity
            android:name=".ReceituarioMedico"
            android:exported="false" />
        <activity
            android:name=".AlterarSenhaMedico"
            android:exported="false" />
        <activity
            android:name=".EsqueciSenhaMedico"
            android:exported="false" />
        <activity
            android:name=".AgendamentosMedico"
            android:exported="false" />
        <activity
            android:name=".AlterarSenhaPaciente"
            android:exported="false" />
        <activity
            android:name=".PerfilMedico"
            android:exported="false" />
        <activity
            android:name=".AgendaMedica"
            android:exported="false" />
        <activity
            android:name=".MedicoLogado"
            android:exported="false" />
        <activity
            android:name=".CadastrarMedico"
            android:exported="false" />
        <activity
            android:name=".FormaPagamento"
            android:exported="false" />
        <activity
            android:name=".AgendarVacinas"
            android:exported="false" />
        <activity
            android:name=".AgendarExames"
            android:exported="false" />
        <activity
            android:name=".AgendarConsultas"
            android:exported="false" />
        <activity
            android:name=".PacienteLogado"
            android:exported="false" />
        <activity
            android:name=".LoginMedico"
            android:exported="false" />
        <activity
            android:name=".EsqueciSenhaPaciente"
            android:exported="false" />
        <activity
            android:name=".CadastrarPaciente"
            android:exported="false" />
        <activity
            android:name=".LoginPaciente"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>